@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
    overflow-x: hidden;
    /*overflow-y: auto;*/
}

@keyframes headShake {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60%,
    80% {
        transform: rotate(-5deg);
    }
    40%,
    100% {
        transform: rotate(5deg);
    }
}



.emoji-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.emoji {
    font-size: 2rem;
    animation: headShake 0.8s infinite;
}

.happy {
    animation: none; /* Stop head shaking for happy emoji */
    transition: transform 0.5s ease-in-out;
}

/*.sad {*/
/*    transform: scale(1.5); !* Intensify the joy by increasing size for sad emoji *!*/
/*}*/


